@model ICollection<ProductListWithCategoryModel>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />

@if (Model.Count > 0) 
{ 

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Boyut</th>
            <th>Kategori</th>
            <th>Stokta mı?</th>
            <th>Profil FotoğrafI</th>
            <th>Güncelle</th>
            <th>Sil</th>




        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Size</td>
            <td>@item.CategoryName</td>
            @if (item.Istok)
            {
                <td>Stokta</td>
            }
            else
            {
                <td>Stok Dışı</td>
            }

            <td><img src="@item.PictureUrl" class="img-fluid w3layouts agileits img-fluid" style="width:%50;" alt="portfolio-img"></td>
            <td><a asp-action="Index" asp-controller="Picture" asp-route-id="@item.Id" class="btn btn-sm btn-warning">fotoğraflar</a></td>
            <td><a asp-action="UpdateProduct" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Güncelle</a></td>
            <td><a asp-action="SoftDelete" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a></td>


        </tr>

        }
    </tbody>
</table>
}
else
{
<h4>Ürün bulunamadı</h4>
}

<td><a asp-action="NewItem" asp-controller="Product" class="btn  btn-default" style="background-color:black; color:white">Ekle</a></td>

